* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
  margin: 0%;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #eac926;
  width: 100vw;
}

header img {
  width: 100%;
}
#header {
  width: 47%;
  margin-top: 4px;
  padding: 2%;
}
header nav {
  margin-top: 15px;
  width: 50%;
  padding: 2%;
}
header nav form {
  position: relative;
  margin-top: 5px;
  display: flex;
  width: 100%;
  margin: auto;
}
.fa-search:before {
  content: "\f002";
  color: gray;
  position: absolute;
  left: 68%;
  top: 7.5%;
}

input {
  width: 80%;
}

header p {
  display: contents;
  margin-left: 10%;
  font-size: 14px;
}

header i {
  margin-left: 1%;
}

header ul {
  display: inline;
  justify-content: space-around;
  margin-left: 5%;
  list-style: none;
  display: none;
}
header ul li a {
  color: black;
  text-decoration: solid;
  font-size: 14px;
  position: relative;
  bottom: 4px;
}

main {
  width: 90vw;
  margin: auto;
  background-color: #ebebeb;
}

main h2 {
  color: #666;
  text-align: left;
  width: 100%;
  color: #666;
  margin-top: 15px;
  font-size: 1rem;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
article {
  background-color: white;
  margin: 10px;
}
article .descripciones {
  display: none;
  transition-duration: 600ms;
}

article:hover .descripciones {
  display: block;
}

div {
  background-color: white;
  border: solid 1px #ebebeb;
  padding: 15px;
}

section img {
  width: 100%;
  margin: auto;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  background-color: #ebebeb;
}
footer article {
  background-color: #ebebeb;
  padding: 1%;
}
footer h3 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
}

footer i {
  color: #1259c3;
  transition-property: color;
  transition-duration: 450ms;
}
footer i:hover {
  color: aqua;
}
footer p {
  margin-top: 8px;
  font-size: 10px;
}
p {
  font-family: Roboto;
  font-size: 0.75rem;
  font-weight: 700;
}
h2 {
  font-family: Roboto;
  font-size: 1.5rem;
  text-align: center;
}

li {
  display: inline;
  font-size: 1.125rem;
  mask-type: none;
  margin-left: 15px;
}
form div {
  background-color: #ebebeb;
  font-family: "Roboto";
  width: 100%;
  margin: 1px;
}
form label {
  display: block;
  font-weight: bold;
}
.perfilDeUsuario {
  display: block;
}
.perfilDeUsuario input {
  width: 5%;
  margin-top: 20px;
  margin-left: 35px;
}

.interes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.interes input {
  display: inline;
  width: 5%;
}
.interes span {
  display: inline;
  width: 90%;
}
.boton {
  display: flex;
  justify-content: space-around;
}
.boton button {
  width: 49%;
  color: white;
  background-color: #7083a0;
  border: none;
  border-radius: 2px;
  transition-property: background;
  transition-duration: 450ms;
}
.boton button:hover {
  background-color: #0022aa;
}

.header {
  background-color: #eac926;
  border: none;
  width: 90%;
}
.articulos {
  width: 400px;
  height: 400px;
  margin: auto;
}
.burger-menu {
  border: solid 1px #1259c3;
  background-color: #1259c3;
  border-radius: 4px;
  margin-right: 48%;
  margin-left: 48%;
  margin-bottom: 16px;
  margin-top: 0px;
  text-align: center;
  color: #ebebeb;
  padding: 1.5%;
}

.section {
  display: flex;
  flex-direction: column;
}
.section div {
  background-color: white;
  border: none;
  padding: 0px;
}
.section i {
  border: solid 1px rgb(77, 233, 77);
  padding: 4px;
  border-radius: 100%;
  color: rgb(77, 233, 77);
  position: relative;
  margin-top: -32px;
  margin-left: 85%;
  width: 28px;
  height: 28px;
  perspective: 700px;
  transition-duration: 1000ms;
}
.section i:hover {
  transform: rotate3d(1.5, 2, -8.5, 50deg);
 
}
.fa-truck:before:hover {
  content: "\f0d1";
  margin: auto;
}
.precios {
  font-size: 1rem;
  display: inline;
}

.descuentos {
  font-size: 0.8rem;
  color: rgb(77, 233, 77);
  display: inline;
  margin-inline-start: 1.5%;
}

.descripciones {
  font-size: 0.8rem;
  color: #666;
  margin-top: 18px;
  display: none;
}

@media (min-width: 481px) {
  header nav {
    width: 33%;
    margin-left: 3%;
  }
  #header {
    width: 30%;
  }
  .header p {
    font-size: 0.6rem;
  }
  .header {
    width: 34%;
    padding: 3%;
  }

  section article {
    width: 40%;
  }
  #descripciones {
    display: none;
  }

  article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  header {
    justify-content: space-between;
  }
  header ul {
    display: inline;
    width: 45%;
  }
  header ul li {
    margin-left: 0 px;
  }
  header ul li p {
    font-size: 8px;
  }
  footer article {
    background-color: #ebebeb;
    padding: 1%;
    box-shadow: none;
  }

  .burger-menu {
    display: none;
  }
  .section i {
    margin-top: -30px;
  }
  footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
    background-color: #ebebeb;
  }
}

@media (min-width: 769px) {
  section article {
    width: 22%;
  }
  .fa-search:before {
    content: "\f002";
    color: gray;
    position: absolute;
    left: 72%;
    top: 7.5%;
}
